{% extends "base.html" %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome To ThePipeah...</p>
                </div>
            </div>
        </header>
        <br/><br/>
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <p align="justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam risus dui, aliquet ac tortor at, dignissim tincidunt nibh. Aenean accumsan pretium ex ut pulvinar. Nam eu urna erat. Aliquam eu pretium magna. In odio massa, elementum ac porttitor et, vulputate eget mauris. Nunc vel molestie magna. Mauris at tincidunt urna. Praesent gravida quis nibh sit amet venenatis. Curabitur viverra nulla id fringilla fermentum. Nulla suscipit, sapien a cursus fermentum, massa nisi consectetur sem, eget egestas elit mi et augue. Vivamus ultricies, enim in tristique maximus, ex sem sollicitudin dui, sodales tempus purus dui vitae metus. Donec venenatis, ligula et tristique venenatis, diam quam tristique leo, a rhoncus metus ex in enim. Donec eget velit quis tellus congue viverra. Nunc ac ex lectus. In quis erat vestibulum odio consectetur tincidunt. Donec et quam sed tellus placerat dapibus.
                        <br/><br/>
                        Donec volutpat odio vitae turpis faucibus tincidunt. Aliquam sit amet lobortis lectus. Duis rutrum nisi sit amet enim placerat tempus. Phasellus in venenatis nisl. Aenean tellus velit, luctus vitae massa ac, viverra efficitur ex. Phasellus lobortis auctor augue at semper. Cras ultricies euismod lorem vel bibendum. Mauris faucibus lacus nec vehicula ultricies. Nunc at rutrum tellus. In fringilla ipsum at elementum porta. Donec vel lobortis nibh. Pellentesque lorem lacus, euismod a sagittis quis, malesuada quis mi. In augue urna, tincidunt ac nunc in, vestibulum suscipit tortor. Proin et augue in nisi facilisis semper. Duis vestibulum commodo nibh, eget ultrices mi ultricies eu.
                        <br/><br/>
                        Fusce fermentum id ante sit amet pretium. Maecenas a tempor nunc. Praesent tempor magna sit amet risus feugiat, eget dignissim tortor volutpat. Sed mattis venenatis sodales. Aliquam erat volutpat. Aliquam ut risus tempus, gravida nisi ac, porttitor est. Nulla facilisi. Nulla a velit sed lorem interdum malesuada in vitae justo. Donec justo dolor, auctor vel aliquam in, volutpat quis quam. Morbi euismod sem vitae libero congue malesuada. Fusce varius et lacus eu tincidunt. Ut a tellus vulputate, tempor leo eu, finibus nisl. Pellentesque pretium rhoncus turpis ac vehicula. Maecenas ultricies consequat massa, at finibus tortor. Sed quam ante, mattis vitae nisi sed, scelerisque vestibulum mauris.
                        </p>
                        <br/><br/>
                    </div>
                </center>
            </div>
        </div>

{% endblock content %}